
      /*--------*/

      /*4° SEZIONE SCEGLI MOSSA CSS*/

      /*--------*/

      .move-choice-paragraph{
        padding: 20px;
        font-size: 14px;
        color: #993C1D;
        font-weight: 600;
        text-align: center;
      }


      .moves-card-flex-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FAF9F7;
        border-radius: 10px;
        border-style: solid;
        border-color:  rgba(44,44,42, 0.18);
        transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.3s ease;
        cursor: pointer;
      }


      .moves-card-flex-button:hover{
        transform: translateY(-10px);
        box-shadow: 0px 0px 6px 2px  #993C1D;
      }
